
*.exe
*.pdb
ProjektOrdner/bin/Debug/ProjektOrdner.exe
ProjektOrdner/bin/Debug/ProjektOrdner.pdb
ProjektOrdner/.vs/ProjektOrdner/v15/Server/sqlite3/storage.ide-wal
ProjektOrdner/.vs/ProjektOrdner/v15/.suo
ProjektOrdner/.vs/ProjektOrdner/v15/Server/sqlite3/storage.ide
ProjektOrdner/.vs/ProjektOrdner/v15/Server/sqlite3/storage.ide-wal
ProjektOrdner/bin/Debug/AppSettings.json
ProjektOrdner/bin/Debug/ProjektOrdner.exe
ProjektOrdner/bin/Debug/ProjektOrdner.pdb
ProjektOrdner/obj/Debug/ProjektOrdner.exe
ProjektOrdner/obj/Debug/ProjektOrdner.pdb
ProjektOrdner/obj/Debug/ProjektOrdner.csproj.GenerateResource.cache
ProjektOrdner/.vs/ProjektOrdner/v15/.suo
ProjektOrdner/bin/Debug/ProjektOrdner.exe
ProjektOrdner/bin/Debug/ProjektOrdner.pdb
ProjektOrdner/obj/Debug/ProjektOrdner.exe
ProjektOrdner/obj/Debug/ProjektOrdner.pdb
ProjektOrdner/.vs/ProjektOrdner/v15/Server/sqlite3/storage.ide-wal
ProjektOrdner/.vs/ProjektOrdner/v15/Server/sqlite3/storage.ide-shm
ProjektOrdner/.vs/ProjektOrdner/v15/Server/sqlite3/storage.ide
ProjektOrdner/.vs/ProjektOrdner/v15/.suo
